@font-face {
  font-family: "iconfont"; /* Project id 3300266 */
  src: url('https://at.alicdn.com/t/font_3300266_hy6dofuswwt.woff2?t=1651754374258') format('woff2'),
       url('https://at.alicdn.com/t/font_3300266_hy6dofuswwt.woff?t=1651754374258') format('woff'),
       url('https://at.alicdn.com/t/font_3300266_hy6dofuswwt.ttf?t=1651754374258') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-video:before {
  content: "\e61f";
}

.icon-mic-on:before {
  content: "\e713";
}

.icon-mic-off:before {
  content: "\e714";
}

.icon-quanxian-shipin-jinyong:before {
  content: "\e830";
}

.icon-naozhong:before {
  content: "\e73b";
}

.icon-huiyijinhangzhong:before {
  content: "\e60b";
}

.icon-huiyiyijieshu:before {
  content: "\e6ba";
}

.icon-jiahao1:before {
  content: "\e604";
}

.icon-huiyihao:before {
  content: "\e671";
}

.icon-zhengkaiyanjingkejian:before {
  content: "\e636";
}

.icon-yanjing-bukejian2_danxian:before {
  content: "\e731";
}

.icon-sousuo:before {
  content: "\e60f";
}

.icon-zuojiantou:before {
  content: "\e603";
}

.icon-1huojian:before {
  content: "\e647";
}

.icon-50wenti:before {
  content: "\e63e";
}

.icon-shezhi:before {
  content: "\e8b7";
}

.icon-kaimenbaojing:before {
  content: "\e60c";
}

.icon-fujian:before {
  content: "\e60a";
}

.icon-miaoshu:before {
  content: "\e602";
}

.icon-shandian:before {
  content: "\e8b6";
}

.icon-zhongfu:before {
  content: "\e6a1";
}

.icon-dingwei:before {
  content: "\e634";
}

.icon-lingdang:before {
  content: "\e600";
}

.icon-31dingwei:before {
  content: "\e601";
}

.icon-huiyishi:before {
  content: "\e667";
}

.icon-wodetongshi:before {
  content: "\e650";
}

.icon-jiahao:before {
  content: "\e726";
}

.icon-bianji:before {
  content: "\e75d";
}

.icon-youjiantou:before {
  content: "\e770";
}

.icon-tongshi:before {
  content: "\e615";
}

.icon-tianjiaxinchengyuan:before {
  content: "\e61c";
}

.icon-shangjiantou:before {
  content: "\e62f";
}

.icon-xiajiantou:before {
  content: "\eb6d";
}

.icon-shipin1:before {
  content: "\e677";
}

.icon-richeng:before {
  content: "\ec06";
}

.icon-jiashu:before {
  content: "\e63d";
}

.icon-shipin:before {
  content: "\e64f";
}
